script src="/js/dust-core.js"
script src="/dust/admin_product_item_template.js.dust"
script src="/coffee/admin/products.coffee"
link rel="stylesheet" type="text/css" href="/scss/admin/products.scss"

.products
