script src="/js/dust-core.js"
script src="/dust/index_product_item_template.js.dust"
script src="/coffee/index.coffee"
link rel="stylesheet" type="text/css" href="/scss/index.scss"

h1 Test

- if logged_in?
    p <a href="/logout">Logout</a>
- else
    /! p <a href="/signup">Sign up</a>
    /! p <a href="/login">Login</a>

.category
bottle
