body {
    background: #FFFFFF url(/img/retina_wood.png)
}

bottle {
    display: block;
    position: absolute;
    top: 100px;
    left: 400px;
    width: 500px;
    height: 500px;
    background: url(/img/diet-pepsi-2-liter-plastic-bottle.png) no-repeat;
    z-index: 2;
}
